@model Fundraiser

<form asp-action="Create" asp-controller="Fundraiser" method="post" class="row g-3">
    <div class="col-md-6">
        <label asp-for="FundraiserName" class="form-label">Fundraiser Name</label>
        <input asp-for="FundraiserName" class="form-control">
        <span asp-validation-for="FundraiserName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="StartDate" class="form-label">Start Date</label>
        <input asp-for="StartDate" class="form-control">
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="EndDate" class="form-label">End Date</label>
        <input asp-for="EndDate" class="form-control">
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Add Fundraiser
        </button>
    </div>
    <input asp-for="Active" type="hidden" value="true">
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}